<style>
  .in-deck-card {
    color: green;
  }

  .not-in-deck-card {
    color: red;
    text-decoration: line-through;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>Deck Guesser</h2>
      <p>Add cards to the input below to see the decks that match.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <input type="text" id="input-cards" class="selectized">
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="list-group">
      </div>
    </div>
  </div>

</div>

<script>

  var deck_card = function(card_name) {
    return `
    <li class="in-deck-card">
      ${card_name}
    </li>
    `;
  }

  var not_in_deck_card = function(card_name) {
    return `
    <li class="not-in-deck-card">
      ${card_name}
    </li>
    `;
  }

  $(function() {
    add_decks = function(data, searched_cards) {
      data.forEach(function(item){
        $('.list-group').append(`
          <a href='decks/${item.d.deck.id}' class='list-group-item list-group-item-action flex-column align-items-start'>
          <div class='d-flex w-100 justify-content-between'>
          <h5 class='mb-1'>${item.d.deck.name}</h5>
          <small>${item.Strength}% match</small>
          </div>
          <ul class='mb-1'>
            ${searched_cards.map(card => item.deck_cards.includes(card) ? deck_card(card) : not_in_deck_card(card)).join('')}
          </ul>
          <p class='mb-1'></p>
          <small></small>
        </a>`)
      });
    }

    $('#input-cards').on("change", function(){
      cards = $("#input-cards").val().split(",").map(x => encodeURIComponent(x)).join('&cards[]=');
      $.ajax({
        url: 'deck_search?&cards[]=' + cards,
        type: 'GET',
        dataType: 'json',
        error: function() {
          callback();
        },
        success: function(res) {
          console.log(res);
          $('.list-group').empty();
          searched_cards = $.map($(".selectize-input .item"), function(item){ return $(item).text()} );
          add_decks(res, searched_cards);
        }
      });
    })

    $('#input-cards').selectize({
      valueField: 'id',
      labelField: 'name',
      searchField: ['name'],
      options: [],
      create: false,
      render: {
        option: function(data, escape) {
          return '<div>' + escape(data.name) + '</div>';
        }
      },
      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
          url: 'cards?&card=' + encodeURIComponent(query),
          type: 'GET',
          dataType: 'json',
          error: function() {
            callback();
          },
          success: function(res) {
            callback(res.map(x => x.card));
          }
        });
      }
    });
  });
</script>

